* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 4rem;
  background-color: #4fc3f7;
  line-height: 4rem;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0.9px 2.2px rgba(0, 0, 0, 0.02),
    0px 2.1px 5.3px rgba(0, 0, 0, 0.028), 0px 4px 10px rgba(0, 0, 0, 0.035),
    0px 7.1px 17.9px rgba(0, 0, 0, 0.042), 0px 13.4px 33.4px rgba(0, 0, 0, 0.05),
    0px 32px 80px rgba(0, 0, 0, 0.07);
}

.header-content {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main {
  max-width: 1024px;
  margin: 2rem auto 0;
}

a {
  color: black;
  text-decoration: none;
}

.header-link {
  display: flex;
}

.header-link > * {
  padding-left: 1rem;
}

.auth-container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 15px;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  max-width: 512px;
  margin: 10rem auto;
}

.auth-title {
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.auth-input {
  height: 3rem;
  font-size: 16px;
  margin-bottom: 1rem;
  padding: 0 1rem;
  border: 1px solid grey;
  border-radius: 3px;
}

.auth-input:focus {
  outline: none;
}

.auth-button {
  height: 3rem;
  background-color: #4fc3f7;
  border: none;
  margin-top: 1rem;
  font-size: 16px;
  border-radius: 3px;
}

.auth-button:hover {
  cursor: pointer;
  background-color: #29b6f6;
}
